# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem
Thumbs.db
*.log
.eslintcache

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# ✅ [중요] 환경 변수 보안 강화
# .env* 로 되어있으면 .env.example까지 무시될 수 있으므로 아래 방식을 권장합니다.
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
# 만약 .env.example 같은 템플릿 파일은 깃허브에 올리고 싶다면 위처럼 개별 지정이 안전합니다.

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# IDEs
.vscode/
.idea/